.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.471), rgba(0, 0, 0, 0.493)), url("https://i.ibb.co/K6HDMTZ/vegetables-set-left-black-slate-1.jpg");
    background-position: center;
    background-size: cover;

}